body{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:sans-serif;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: rgb(24, 24, 24);
}

.navlinks{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: rgb(24, 24, 24);
}

a{
    text-decoration: none;
    padding-left: 10px;
}

.inbar{
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 269px;
    padding-bottom: 12px;
    border-radius: 25px;
    outline: none;
    border: none;
}

.logo{
    padding-left: 100px;
    padding-right: 100px;
}

.cart{
    padding-left: 100px;
    padding-top: 10px;
}
.login{
    padding-left: 100px;
    padding-top: 10px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: cornflowerblue;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 100%;
        width: 200px;
        top: 100px;
        padding-left: 9px;
        display: flex;
        background-color: rgb(24, 24, 24);
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .inbar{
        padding-right: 10px;
    }
    .login,.cart{
        padding-left:70px;
        padding-top: 40px;
    }
    .logo{
        padding-left: 10px;
        padding-right: 150px;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .ham{
        transform: translateX(0%);
    }
    .ani .line1{
        transform: rotate(-45deg) translate(-5px,6px) ;
        transition: transform 0.5s ease-in;
    }
    .ani .line2{
        opacity: 0;
    }
    .ani .line3{
        transform: rotate(45deg) translate(-5px,-6px) ;
        transition: transform 0.5s ease-in;
    }
}
