
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: rgb(15 21 22);
}

.navlinks{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
}

a{
    text-decoration: none;
    padding-left: 10px;
}

.inbar{
    position: relative;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 269px;
    padding-bottom: 12px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin: auto;
}

.inbar::-webkit-input-placeholder{
    font-size: 14px;
}

.search-icon{
    color: whitesmoke;
    width: 100px;
    position: absolute;
    left: 47%;
    top: 4.65%;
}

.sbut{
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s all;
}

.sbut:active {
    transform: scale(0.7);
}

.logo{
    padding-left: 100px;
    padding-right: 100px;
    transition: 0.2s all;
}
.logo:active{
    transform: scale(0.9);
}
.cart{
    padding-left: 100px;
    padding-top: 10px;
    transition: 0.2s all;
}
.cart:active{
    transform: scale(0.9);
}
.login{
    padding-left: 100px;
    padding-top: 10px;
    transition: 0.2s all;
}
.login:active{
    transform: scale(0.9);
}

.text1{
    padding-left: 6px;
    color: cornflowerblue;
}
.text2{
    padding-left: 10px;
    color: cornflowerblue;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: cornflowerblue;
    margin: 5px;
}

.carousel{
    overflow-x: hidden;
}

.carousel figure{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 16s slider infinite;
}

.carousel figure img{
     width: 25%;
     float: left;
     cursor: pointer;
     transition: 0.2s all;
}

.carousel figure img:active{
    transform: scale(0.98);
}

@keyframes slider {
    0%{
        left: 0;
    }
    25%{
        left: 0;
    }
    30%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    55%{
        left: -200%;
    }
    75%{
        left: -200%;
    }
    80%{
        left: -300%;
    }
    100%{
        left: -300%;
    }
}

@media screen and (max-width: 768px) {
    body html{
        overflow-x: hidden;
        max-width: 100%;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 100%;
        width: 200px;
        top: 100px;
        padding-left: 9px;
        display: flex;
        z-index: 1;
        background-color: rgb(15, 21, 22);
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        display: none;
    }
    .inbar{
        padding-right: 0px;
    }
    .inbar::-webkit-input-placeholder{
        font-size: 12px;
    }
    .login,.cart{
        padding-left:60px;
        padding-top: 40px;
    }
    .sbut{
        display: none;
    }
    .logo{
        padding-left: 10px;
        padding-right: 150px;
    }
    .burger{
        display: block;
        cursor: pointer;
        transition: 0.5s all;
    }
    .burger:active{
        transform: scale(0.9);
    }
    .carousel figure img{
        height: 50%;
   }
    .ham{
        transform: translateX(0%);
    }
    .show{
        display: flex;
    }
    .ani .line1{
        transform: rotate(-45deg) translate(-5px,6px) ;
        transition: transform 0.55s ease-in;
    }
    .ani .line2{
        opacity: 0;
    }
    .ani .line3{
        transform: rotate(45deg) translate(-5px,-6px) ;
        transition: transform 0.55s ease-in;
    }
}
